.Home{
  background: lightgray;
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  padding: 2%;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  min-width: 100vw;
  /* align-items: stretch; */
}
.h1{
    margin-right: 100%;
    padding-left: 0%;  
}
.wrapper{
  position: relative;
  margin-left: 43%;
}

#buttonthingy{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin-left: 25px;
}

#buttonthingy span{
  position: relative;
  z-index: 2;
}

#buttonthingy:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #5ab5d1;
  transition: all .35s;
}

#buttonthingy:hover{
  color: #fff;
}

#buttonthingy:hover:after{
  width: 100%;
}
  
.textthingy {
  background: #333;
  padding-top: 3em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 1%;
}
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end) infinite,
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
