.Projects{
    background: lightgray;
    /* height: fit-content;
    width: fit-content; */
    display: flex;
    margin: 0;
    padding: 2%;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 100vh;
    align-items: center;
}

.Title{
    color: black;
    font-weight: bold;
}
.Card{
    flex: 3;
    width: 100vh;
    height: fit-content;
    margin: 1%;
    filter: drop-shadow(8px 8px 8px darkgrey)
}

.CardImage{
    max-height: 500vh;
    max-width: 40vw;
    margin: 1%;
}

.Body{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}