.logo {
    height: 40vmin;
    pointer-events: none;
    max-width: 200px;
    max-height: 120px;
    padding: 0% ;    
}
  
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }